/* Page Background */
html {
background: #57068C url("images/body_nyu_bg.png") left top repeat-x !important;
}   
/* Header */
body {
    background:transparent url("images/nyu_logos.png") top center no-repeat !important;
} 
     
#topnavigationcontainer {
	padding:80px 0 0 0 !important;	
}
/* Buttons */
.s3d-button {   
    background: url("images/button-sprite-5state_nyu.png") no-repeat scroll right -40px transparent;
}
.s3d-button:hover, .s3d-button-hover {
    background-position: right -120px;
}

.s3d-button::-moz-focus-inner {
    border: none; /* overrides extra padding in Firefox */
}
.s3d-button .s3d-button-inner {                                                                     
    background: url("images/button-sprite-5state_nyu.png") no-repeat scroll left top transparent;
} 

.s3d-button:hover .s3d-button-inner, .s3d-button-hover .s3d-button-inner {
    background-position: left -80px;
    color: #FFF;
}

html > body .s3d-button .s3d-button-inner {
    white-space: normal; /* only do the white-space fix on IE6 */
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    /* Safari and Google Chrome only - fix margins */
    .s3d-button .s3d-button-inner {
        margin-top: -1px;
    }
}

.s3d-button-primary {
    background-position: right -200px;
}

.s3d-button-primary .s3d-button-inner {
    background-position: left -160px;
}

.s3d-button[disabled], .s3d-disabled {
    background-position: right -280px;
    cursor: default;
}

.s3d-button:hover[disabled], .s3d-disabled.s3d-button-hover {
    background-position: right -280px;
    cursor: default;
}

.s3d-button[disabled] .s3d-button-inner, .s3d-disabled .s3d-button-inner {
    background-position: left -240px;
}

, .s3d-button:hover[disabled] .s3d-button-inner, .s3d-disabled.s3d-button-hover .s3d-button-inner  {
    background-position: left -240px;
}

.s3d-button-icon-right, .s3d-button-icon-left {
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: transparent;
}

.s3d-button-icon-right {
    background-position: right center;
    padding-right: 18px;
}

.s3d-button-icon-left {
    background-position: left center;
    padding-left: 18px;
}

/* Page Links */
a.s3d-action, .s3d-actions a {
	color:#57068c;
}
.explore_nav .explore a{
	color:#57068c;
}
.people .find_more_people a {
    background: url("images/arrow_right_sm2_nyu_purple.png") no-repeat scroll right center;	
	color:#57068c;
}
.fl-widget .fl-widget-options ul li a {
	color:#57068c;
}
.myprofile_widget .profile .myprofile_name {
	color:#57068c !important;
}
.content_search a {
	color:#57068c;
} 

/* Footer Links */

.footer_main .fixed-container a {
color:#bebebe !important;
} 
.footer_main .fixed-container  a:visited {
color:#888888 !important;
}
.footer_main .fixed-container a:hover {
color:#bebebe !important;
}

.footer_main .fixed-container  a:active {
color:#cccccc !important;
}