/* Page Background */
html,.requireUser,.requireAnon{background:#57068C url("images/body_nyu_home_bg.png") left top repeat-x !important;}

/* Links */
a,a:link,
a.s3d-regular-links,
.s3d-regular-links a,
.s3d-regular-links,
button.s3d-regular-links,
.s3d-button.s3d-large-button,
.s3d-regular-links button,
button.s3d-link-button,
.s3d-button.s3d-overlay-button,
.addarea_contents_list_item,
#selecttemplate_container h2,
#selecttemplate_preview_dialog_container h2{color:#57068c !important;}
a:visited{color:#3C1354 !important;}

.s3d-button.s3d-overlay-action-button:hover, .s3d-button.s3d-overlay-action-button:focus {color:#fff !important; background-image: url("images/button_overlay_action_hover.png") !important;}
.s3d-button.s3d-overlay-action-button:disabled, .s3d-button.s3d-overlay-action-button:disabled:hover {color: #CCC !important; background-image: url("/dev/images/button_overlay_action_default.png") !important;}

.s3d-button.s3d-header-button.s3d-popout-button:hover {
    background-image: url("images/button_popout_hover.png") !important;
    border: 1px solid #4d10d5 !important;
}
.s3d-button.s3d-header-button.s3d-popout-button:disabled {background: none repeat scroll 0 0 #FFFFFF !important; border: none !important;}

/* Branding widget */
.branding_widget {
    background:white url("images/nyu_logos.png") top center no-repeat !important;
    height:80px !important;
    border-bottom: 1px solid #DCDCDC;
}

/* Header */
.s3d-navigation-container{box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
#institutionalskinning_logo,
#top_banner_logo{background:white url("images/nyu_logos.png") top center no-repeat !important;height:80px !important;border-bottom: 1px solid #DCDCDC;}
.s3d-container-shadow-left,.s3d-container-shadow-right{display:none;}
#top_banner{background:#ffffff;height:80px;left:0;position:absolute;top:40px;width:100%;}
#top_banner_logo{margin:0 auto;width:960px;border-bottom:1px solid #DCDCDC;}
#navigation_you_link,
#navigation_create_and_add_link,
#navigation_explore_link,
#topnavigation_user_options_name,
#topnavigation_user_inbox_container,
#navigation_anon_signup_link,
#navigation_anon_explore_link{color:white !important;}
.s3d-dropdown-menu .s3d-dropdown-container{background:#3c1354 url("images/topnav_nav_hover_list_bg.png") !important;}
.s3d-dropdown-menu:hover,.s3d-dropdown-menu:active{background:#57068c url("images/topnav_nav_hover.png") !important;}
.topnavigation_explore .s3d-dropdown-menu a:focus,
#topnavigation_user_options_login:focus{background:#57068c url("images/topnav_nav_hover.png") repeat-x scroll left top !important;color:#ffffff !important;}
.s3d-dropdown-menu ul li:hover{background-image:none;background-color:#DDDDDD;}
#topnavigation_user_options_login_external {color: #fff !important;}
.topnavigation_counts_container .topnavigation_menuitem_counts_container:hover {background:#57068c url("images/topnav_nav_hover.png") !important;}

.topnavigation_explore .topnavigation_counts_container button:focus, 
.topnavigation_explore .s3d-dropdown-menu li a:focus, 
.topnavigation_user_container .s3d-dropdown-menu li a:focus, 
#topnavigation_user_options_login li a:focus, 
.topnavigation_force_submenu_display_title, #navigation_anon_signup_link:focus {
    background-image: url("images/topnav_nav_hover.png") !important;
}

/* Navigation overrides */
#lhnavigation_container ul li.lhnavigation_selected_item.lhnavigation_outer,
#lhnavigation_container ul li ul li.lhnavigation_selected_item div.lhnavigation_subnav_item_content{background-image:url("images/lhnav_selected_item_bg.png") !important;}
#lhnavigation_container .lhnavigation_item_content a:link,
#lhnavigation_container .lhnavigation_item_content a:visited{color:#707E8C !important;}
#lhnavigation_container li.lhnavigation_selected_item a:link,
#lhnavigation_container li.lhnavigation_selected_item a:visited{color:white !important;}
.s3d-dropdown-menu .s3d-dropdown-menu-arrow{background-image:url("images/dropdown-menu-arrow.png") !important;}
#lhnavigation_container ul li.lhnavigation_selected_item .lhnavigation_levelcount, #lhnavigation_container ul li.lhnavigation_selected_item .lhnavigation_sublevelcount {background: url("images/lefthandnav_count_hover.png") repeat-x scroll left top #8a45d9 !important; border-color: #6f26ce !important}
.lhnavigation_selected_submenu_image.clicked, .lhnavigation_selected_submenu_image:hover {background: url("images/lefthandnav_count_hover.png") repeat-x scroll left top #8a45d9 !important;}

/* Entity overrides */
#entity_container .entity_change_avatar .s3d-dropdown-menu-arrow {background-image: url(images/dropdown-menu-arrow.png) !important}
#entity_container .entity_change_avatar:hover, #entity_container .entity_change_avatar.clicked {background-color: #a672d1 !important;}
#entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_private:hover, #entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_private.selected {background-image: url("images/lock_icon_18x18_hover.png") !important;}
#entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_institution:hover, #entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_institution.selected {background-image: url("images/institution_icon_18x18_hover.png") !important;}
#entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_public:hover, #entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_public.selected {background-image: url("images/globe_icon_18x18_hover.png") !important;}
#entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_collaborator:hover, #entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_collaborator.selected {background-image: url("images/collaborator_icon_20x16_hover.png") !important;}
#entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_share:hover, #entity_container .entity_owns_actions_container .entity_owns_actions .entity_owns_actions_share.selected {background-image: url("images/share_icon_20x16_hover.png") !important;}
#entity_container .s3d-button:hover .entity_permissions_icon {background-image: url("images/settings_icon_16x16_hover.png") !important;}
#entity_container .s3d-button:hover .entity_download_content {background-image: url("images/download_button_image_hover.png") !important;}
#entity_container .s3d-button:hover .entity_add_to_library {background-image: url("images/savecontent_button_icon_16x16_hover.png") !important;}


/* Recent activity overrides */
.s3d-no-results-container{background-color:#DDDDDD !important; background-image: none !important;}
.recentchangedcontent.fl-widget .s3d-no-results-container h1,
.recentmemberships.fl-widget .s3d-no-results-container h1,
.recentcontactsnew.fl-widget .s3d-no-results-container h1{color:#393939;}

/* No results icons */
.s3d-no-results-container .s3d-no-results-arrow-up{background-image:url("images/noresults_arrow_up.png");}
.s3d-no-results-container .s3d-no-results-magnifier{background-image:url("images/magnifier_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-world{background-image:url("images/world_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-people{background-image:url("images/person_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-content{background-image:url("images/content_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-content-small{background-image:url("images/content_icon_42x46.png");}
.s3d-no-results-container .s3d-no-results-memberships{background-image:url("images/memberships_icon_60x55.png");}
.s3d-no-results-container .s3d-no-results-memberships-small{background-image:url("images/memberships_icon_42x46.png");}
.s3d-no-results-container .s3d-no-results-contacts{background-image:url("images/contacts_icon_60x55.png");}
.s3d-no-results-container .s3d-no-results-contacts-small{background-image:url("images/contacts_icon_42x46.png");}
.s3d-no-results-container .s3d-no-results-replied{background-image:url("images/replied_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-trash{background-image:url("images/trash_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-upload{background-image:url("images/upload_icon_42x46.png");}
.s3d-no-results-container .s3d-no-results-search-world{background-image:url("images/world_search_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-search-people{background-image:url("images/people_search_icon_55x55.png");}
.s3d-no-results-container .s3d-no-results-search-content{background-image:url("images/content_search_icon_55x55.png");}

/* Footer */
.footer_main{background-color:rgb(135,138,140) !important;background-image:none !important;}
.footer_main .fixed-container p{color:#25282b !important;}
.footer_main #footer_logo_button{margin-left:10px;padding:0;}
.footer_main .toplink{margin-right:10px;margin-left:16px;}
.footer_main .bottom p{margin:0 10px;}
#footer_logo{background-image:url("images/footer_logo.png") !important;}
.footer_main .fixed-container a,.footer_main .fixed-container button.s3d-link-button{color:#dddddd !important;}
.footer_main .fixed-container a:visited{color:#cccccc !important;}
.footer_main .fixed-container a:hover{color:#eeeeee !important;}
.footer_main .fixed-container a:active{color:#ffffff !important;}

/* homepage styles - explore.html */
body.explore .s3d-page-header{margin-top:40px;}
a.categories_item_header_link{color:white !important;}
#explore_navigation{background-color:#e5e6e7;}
.header-byline{color:#222;padding:0;font-size:1em;font-weight:normal;}
.header-byline h2{color:#572d88;font-size:30px;margin:0;line-height:1.2em;}
.header-byline p{font-weight:normal;font-size:18px;line-height:1.2em;color:#222222;}
.header-smallline{font-size:21px;line-height:1.2em;}
.homepage-header{width:222px;padding:0 10px;float:left;display:inline;}
.homepage-header.first{padding-left:0 !important;}
.homepage-header.last{padding-right:0 !important;}
.homepage-header-logo{margin:10px 0;text-align:center;}
.welcome_widget h2{color:#572D88 !important;font-size:30px !important;margin:0 !important;line-height:1.2em !important;}
.welcome_widget img{float:none !important;margin:10px 0 !important;}

/* explore.html - single-column styles for welcome widget */
#explore_content.single-column{padding-bottom:0;}
#explore_content.single-column #explore_content_first_column{width:802px;float:none;margin:0 auto;}
#explore_content.single-column .homepage-header{width:214px;padding:0 40px;}
#explore_content.single-column .header-smallline p{margin-bottom:0;}

/* featurecontent overrides */
.featuredcontent_widget .featuredcontent_content_actions_addtolibrary{background-image:url("images/add_to_library_icon.png") !important;}
.featuredcontent_widget .featuredcontent_content_actions_share{background-image:url("images/share_icon.png") !important;}

/* searchcontent and searchpeople overrides */
.searchgroups_result:hover .searchgroups_result_message_icon{background-image:url("images/message_icon.png") !important;}
.searchpeople_result:hover .searchpeople_result_message_icon{background-image:url("images/message_icon.png") !important;}
button.searchpeople_result_plus,
button.searchcontent_result_plus{color:#E4E4E4 !important}
.searchpeople_result:hover button.searchpeople_result_plus,
.searchcontent_result:hover button.searchcontent_result_plus{color:#57068c !important;}
.searchcontent_result:hover .searchcontent_result_author_icon{background-image:url("images/author_icon.png") !important;}
.searchcontent_result:hover .searchcontent_result_share_icon{background-image:url("images/share_icon.png") !important;}

.s3d-search-results-gridview:hover, .s3d-search-results-gridview.selected {background-image: url("images/search_grid_16x16_hover.png") !important;}
.s3d-search-results-listview:hover, .s3d-search-results-listview.selected {background-image: url("images/search_list_16x16_hover.png") !important;}
.s3d-search-results-carouselview:hover, .s3d-search-results-carouselview.selected {background-image: url("images/search_carousel_16x16_hover.png") !important;}
.s3d-search-results-blogview:hover, .s3d-search-results-blogview.selected {background-image: url("images/search_blog_16x16_hover.png") !important;}

/* all categories overrides */
.allcategories_widget .allcategories_item .allcategories_item_header:hover{background-image:url("images/allcategories_item_header_hover_bg.png") !important;background-color:#3c1354 !important;}
.allcategories_widget .allcategories_item:hover{background-color:#eae7f4 !important;}

/* Carousel overrides */
.s3d-actions-addtolibrary:hover{background-image:url("images/add_to_library_icon.png") !important;}
.s3d-actions-message:hover{background-image:url("images/message_icon.png") !important;}
.s3d-actions-share:hover{background-image:url("images/share_icon_hover.png") !important;}
.s3d-actions-author:hover {background-image: url("images/author_icon_hover.png") !important;}

/* Notifications */
.gritter-item a{color:#EEE !important;}

/* Collections */
.inserter_widget ul li:hover, .inserter_widget ul li.dragover {
    background-image: url("images/topnav_nav_hover.png") !important;
    background-color: #510590 !important;
}
.inserter_widget ul li:hover .inserter_item_count_container, .inserter_widget ul li.dragover .inserter_item_count_container {
    background-image: url("images/lefthandnav_count_hover.png") !important;
}
.inserter_widget #inserter_header #inserter_header_collection_title {
    color: #FFF !important;
}

/* participants widget */
.participants_widget #participants_list_container ul li .participants_message_icon:hover {background-image: url("images/message_icon.png") !important;}

/* ATLASINT-139  hide List Categeries link when adding groups and content */
#newaddcontent_container button.list_categories,
#newcreategroup_container button.list_categories,
#contentmetadata_container button.list_categories,
#addarea_container button.list_categories,
#displayprofilesection_form_basic button.list_categories{
    display: none !important;
}

/* sakaidoc and insert bar styles */
a.inserterbar_action_link {
    color: #FFF !important;
    margin: 0 !important;
    padding: 6px 10px;
}
#inserterbar_widget .inserterbar_widget_container li {
    margin: 0 !important
}
#inserterbar_widget .inserterbar_widget_container:hover {
     background-image: url("images/button_overlay_action_hover.png") !important;
     background-color: #530691 !important;
}

/* group - add content overrides */
#addarea_container ul#addarea_content_menu li.selected ul.addarea_content_menu_item_subnav li.selected,
.addarea_existing_item.selected {
    background-image: url(images/lhnav_selected_item_bg.png) !important;
}
#addarea_container ul#addarea_content_menu li.selected ul.addarea_content_menu_item_subnav li.selected button,
.addarea_existing_item.selected a {
    color: #FFF !important;
}