/* Page Background */
html, .requireUser {
  background: #682069 url("images/body_nyu_steinhardt_bg.png") left top repeat-x !important;
}
/* Header */
.branding_widget {
	background:transparent url("images/nyu_steinhardt_logos.png") top center no-repeat !important;
}
#lhnavigation_container ul li.lhnavigation_selected_item.lhnavigation_outer, #lhnavigation_container ul li ul li.lhnavigation_selected_item div.lhnavigation_subnav_item_content {
  background-image: url("images/lhnav_selected_item_steinhardt_bg.png") !important;
}
